<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JDBCTutorialWebApp2</display-name>
  <servlet>
    <servlet-name>Continenti</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.Continenti</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Nations</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.Nazioni</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Citta</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.Citta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SalvaCitta</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.SaveCitta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CercaCittaServlet</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.CercaCitta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreaCitta</servlet-name>
    <servlet-class>it.objectmethod.jdbctutorial3.servlets.CreaCitta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Continenti</servlet-name>
    <url-pattern>/runContinenti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Nations</servlet-name>
    <url-pattern>/runNazioni</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Citta</servlet-name>
    <url-pattern>/runCitta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SalvaCitta</servlet-name>
    <url-pattern>/runSalvaCitta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CercaCittaServlet</servlet-name>
    <url-pattern>/CercaCitta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreaCitta</servlet-name>
    <url-pattern>/CreaCitta</url-pattern>
  </servlet-mapping>
</web-app>